.app-header {
    display: flex;
    justify-content: space-between;
    background-color: #facdce;
    padding: 20px;
}

.app-header nav ul {
    display: flex;
    gap: 60px;
}

.app-header nav li {
    list-style: none outside;
    padding: 0px 8px;
}

.app-header nav a {
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
} 



.guest {
    display: flex;
    gap: 15px;
}

.user {
    display: flex;
    gap: 60px;
}

.home, .profile {
   display: flex;
   gap: 15px;
}

.app-logo a {
    font-size: 30px;
    text-decoration: none;
    font-style: italic;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
}

.guest li a, .profile li a {
    font-size: 18px;
    color: white;
    background-color: #FF6B6D;
    border-radius: 4px;
    padding: 6px 12px;
}
/*

.search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.search button {
    padding: 6px 10px;
    background: white;
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search button i {
    font-size: 18px;
}

.search button:hover {
    background: darkgreen;
    color: white;
} */