<header class="app-header">
    <div class="app-logo">
        <a href="#">🍉 Slicey</a>
    </div>
    <nav>
        <ul>
        <div class="user">
            <div class="home">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/recipes">Catalog</a></li>
            <li><a routerLink="/create-recipe">Add Recipe</a></li>
            <li><a routerLink="/about">About</a></li>
           </div>
           
           <div class="profile">
            <li *ngIf="isLoggedIn"><a routerLink="/auth/profile">{{ username }}'s profile</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/logout" (click)="logout()">Logout</a></li>
           </div>
        </div> 


        <div class="guest">
            <li *ngIf="!isLoggedIn"><a routerLink="/auth/login">Sign in</a></li> 
            <li *ngIf="!isLoggedIn"><a routerLink="/auth/register">Sign up</a></li>  
        </div>       
           
            <!--TODO search bar right align 
           <div class="search">
            <form #form="ngForm" (ngSubmit)="onSearch(form)">
                <input type="text" placeholder="Search Recipes" name="search" [(ngModel)]="search" ngModel #inputSearch="ngModel">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </form>
            </div> -->
        </ul>
    </nav>
</header>
