<header class="app-header">
    <div class="app-title">
        <a href="#">TO BE CHANGED</a>
    </div>
    <nav>
        <ul>

            <div *ngIf="!isLoggedIn"> <!--визуализира се при нелогнат потребител-->
                <li><a routerLink="/auth/login">Login</a></li>
                <li><a routerLink="/auth/register">Register</a></li>
            </div>

            <div *ngIf="isLoggedIn"> <!--визуализира се при логнат потребител-->
                <li><a routerLink="/auth/profile">{{ username }}'s profile</a></li>
                <li><a routerLink="/logout" (click)="logout()">Logout</a></li>
            </div>
           
        
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/recipes">Catalog</a></li>
            <li><a routerLink="/create-recipe">Add Recipe</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
    </nav>
</header>
