
.app-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(112, 111, 111);
}

.app-header nav ul {
    display: flex;
}

.app-header nav li {
    list-style: none outside;
    padding: 0px 8px;
}


.app-header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}



.search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.search button {
    padding: 6px 10px;
    background: white;
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search button i {
    font-size: 18px;
}

.search button:hover {
    background: darkgreen;
    color: white;
}