<div class="container">
  
<div class="welcome">
    <h3>Welcome</h3>
    <h1>
    Easy recipes for any occasion!
    </h1>
    <p>Here you can find recipes for beginners, as well as for true masterchefs. Roll up your sleeves and let's get busy!</p>
    
    <ng-container *ngIf="!isLoggedIn">
    <div class="guest">
      <ul>
        <li>
        <a routerLink="/auth/login">
            <i class=""></i>
            Sign in
          </a>
        </li>
        <li>
          <a routerLink="/auth/register">
            <i class=""></i>
        sign up
          </a>
        </li>
      </ul>
    </div>
    </ng-container>

  </div>
</div>


  
