<div class="container">

<form #form="ngForm" (ngSubmit)="submitRecipe(form)">
    <!--RECIPE NAME-->
    <div class="recipeName">
        <label for="name">Recipe name:</label>
        <input 
        type="text" 
        name="name"
        placeholder="Enter recipe name..."
        ngModel
        #inputRecipeName="ngModel"
        required
        minlength="3"
        >
   </div>
   <ng-container *ngIf="inputRecipeName.touched">
    <p *ngIf="inputRecipeName.errors?.['required']" style="color: rgb(255, 51, 0)">Recipe name is required!</p>
    <p *ngIf="inputRecipeName.errors?.['minlength']" style="color: rgb(255, 51, 0)">Recipe name should be at least 3 characters long!</p>
   </ng-container>

      <!--RECIPE IMAGE-->
      <div class="img">
        <label>Image: <input type="text" name="img" placeholder="Image URL"></label>
<!-- ! ngModel #inputImageName="ngModel" required-->
    </div>

   <!--RECIPE INGREDIENTS-->
    <div class="ingredients">
        <label for="ingredients">Ingredients:</label>
        <textarea 
        type="text" 
        name="ingredients" 
        id="ingredients" 
        placeholder="Enter all ingredients required..."
        rows="5"
        ngModel
        #textAreaIngredients="ngModel"
        required
        minlength="10"
        ></textarea>
  </div>
  <ng-container *ngIf="textAreaIngredients.touched">
    <p *ngIf="textAreaIngredients.errors?.['required']" style="color: rgb(255, 51, 0)">Enter all ingredients required!</p>
    <p *ngIf="textAreaIngredients.errors?.['minlength']" style="color: rgb(255, 51, 0)">Ingredients text should be at least 10 characters long!</p>
  </ng-container>

  <!--RECIPE INSTRUCTIONS-->
    <div class="steps">
        <label for="steps">Instructions:</label>
       <textarea 
       type="text" 
       name="steps" 
       id="steps" 
       rows="5" 
       placeholder="Enter all instructions required..."
       ngModel
       #textAreaStepsName="ngModel"
       required
       minlength="10"
       ></textarea>
   </div>
   <ng-container *ngIf="textAreaStepsName.touched">
    <p *ngIf="textAreaStepsName.errors?.['required']" style="color: rgb(255, 51, 0)">Enter all instructions that should be followed!</p>
    <p *ngIf="textAreaStepsName.errors?.['minlength']" style="color: rgb(255, 51, 0)">Instructions text should be at least 10 characters long!</p>
   </ng-container>


    <!--RECIPE BUTTONS-->
    <div class="create-recipe-buttons">
        <button type="submit" class="create" [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? '#FF6B6D' : '#04AA6D'}">Create recipe</button>
        <button class="cancel" (click)="onCancel($event)" style="background-color: #FF6B6D">Cancel</button>
    </div>

</form>
</div>

