<div class="registerContainer">
<form style="border:1px solid #ccc" [formGroup]="form" (ngSubmit)="register()">
    <div class="container">
      <h1>Sign Up</h1>
      <p class="fillIn">Please fill in this form to create an account.</p>
      <hr>
  
<!--Name-->
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="name" formControlName="username">

      <ng-container *ngIf="form.get('username')?.touched">
        <p *ngIf="form.get('username')?.errors?.['required']" style="color: rgb(255, 51, 0)">Username is required!</p>

        <p *ngIf="form.get('username')?.errors?.['minlength']" style="color: rgb(255, 51, 0)">Username must be at least 5 characters!</p>

        <p *ngIf="form.get('username')?.errors?.['maxlength']" style="color: rgb(255, 51, 0)">Username must not exceed 12 characters!</p>
      </ng-container>

 
<!--Email-->
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" formControlName="email">

      <ng-container *ngIf="form.get('email')?.touched">
        <p *ngIf="form.get('email')?.errors?.['required']" style="color: rgb(255, 51, 0)">Email is required!</p>

        <p *ngIf="form.get('email')?.errors?.['pattern']" style="color: rgb(255, 51, 0)">Email is not valid!</p>
      </ng-container>


      <!--! продължи оттук нататък-->
<!-- Password-->
 <ng-container formGroupName="passGroup"> 
  <!--! за да се вържем с контролките  get passGroup() { return this.form.get('passGroup'); }-->
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" formControlName="password">
<ng-container *ngIf="passGroup?.get('password')?.touched">
      <p *ngIf="passGroup?.get('password')?.errors?.['required']" style="color: rgb(255, 51, 0)">Password is required!</p>
      <p *ngIf="passGroup?.get('password')?.errors?.['minlength']" style="color: rgb(255, 51, 0)">Password must be at least 5 characters</p>
</ng-container> 
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" formControlName="repassword">

<ng-container *ngIf="passGroup?.get('repassword')?.touched">
  <p *ngIf="passGroup?.get('repassword')?.errors?.['required']" style="color: rgb(255, 51, 0)">Repeat password is required!</p>
      <p *ngIf="passGroup?.errors?.['matchingPassValidator']" style="color: rgb(255, 51, 0)">Repeat password does not match password!</p>
</ng-container>

</ng-container>
  

      <div class="clearfix">
       <!--  <button type="button" class="cancelbtn">Cancel</button> -->
        <button type="submit" class="signupbtn" [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? '#FF6B6D' : '#04AA6D'}">Sign Up</button>
      </div>

      <p class="signInHere">You already have an account? <a routerLink="/auth/login">Sign in here!</a></p>
    </div>
  </form>
</div>