body {
    margin: 0;
  }
  

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .row {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 0px;
  }

  .column {
    max-width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 5px;
  }
  
  .about-section {
    padding: 100px;
    text-align: center;
    background-color: #facdce;
    color: black;
  }

  .about-section h1 {
    font-size: 50px;
    font-style: italic;
  }

  .about-section p {
    font-size: 25px;
  }
  
  .container {
    padding: 10px 16px;
  }

  .container p {
    font-size: 18px;
    padding: 5px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  p.title {
    padding: 0px;
    color: grey;
  }

  p.email {
    font-style: italic;
  }
  

 
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }