<div class="about-section">
    <h1>It's all About a Slice of good food!</h1>
    <p>We are a small team of food enthusiasts. </p>
    <p> Our main goal is to make sure only the best recipes come to your attention.</p>
  </div>
  
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./../../assets/caju-gomes-QDq3YliZg48-unsplash.jpg" alt="teamMemberPhoto" style="width:100%">
        <div class="container">
          <h2>Radostina Dimitrova</h2>
          <p class="title">Founder</p>
          <p class="keenEye">I have a keen eye for healthy food.</p>
          <p class="email">radostina@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./../../assets/s-l-M3VeZnz3cLQ-unsplash.jpg" alt="teamMemberPhoto" style="width:100%">
        <div class="container">
          <h2>Vania Angelova</h2>
          <p class="title">Designer</p>
          <p class="keenEye">I have a keen eye for delicious detail.</p>
          <p class="email">vania@example.com</p>
        </div>
      </div>
    </div>
  </div>