<div class="container">
  <div class="recipeDetails">
   
<!--!READ ONLY MODE-->
 <!-- HEADER IMAGE -->
  <ng-container *ngIf="!showEditRecipeForm">
    <figure>
      <img class="header-img" src="./../../../assets/photos/lasagna.jpg" alt="RecipeImg">
    </figure>

    <!-- MAIN CONTENT -->
    <main class="main-content">
      <p>Recipe created on: {{recipe._createdOn | date }}</p>
      <h1 class="content-title">{{recipe.name}}</h1> <!--name of the recipe-->
      <p>
        An easy and quick dish, perfect for any meal. This classic recipe combines easy to access products prepared to perfection, optionally accompanied by your choice of wine, or other suitable beverage. Enjoy!
      </p>
      <!-- PREPARATION TIME
      <article class="preparation">
        <h2>Preparation time</h2>
        <ul>
          <li>
            <p><strong>Total</strong>: Approximately 10 minutes</p>
          </li>
          <li>
            <p><strong>Preparation</strong>: 5 minutes</p>
          </li>
          <li>
            <p><strong>Cooking</strong>: 5 minutes</p>
          </li>
        </ul>
      </article>  -->
      <!-- INGREDIENTS -->
      <article class="ingredients">
        <h2>Ingredients</h2>
        <ul *ngFor="let ingredient of recipe.ingredients"> <!-- *ngFor="let ingredient of recipe.ingredients"-->
          <li>
            <p> {{ingredient}} </p>
          </li>
        </ul>
      </article>
      <hr>
      <!-- INSTRUCTIONS -->
      <article class="instructions">
        <h2>Instructions</h2>
        <ul *ngFor="let step of recipe.steps"> <!-- *ngFor="let step of recipe.steps"-->
          <li>
            <div>
              <p>{{step}}</p>
            </div>
          </li>
        </ul>
      </article>
      <hr>
    </main>
<!-- BUTTONS -->
    <div class="buttons">
    <button *ngIf="isLoggedIn && isOwner(recipe)"
    class="editRecipe" (click)="onToggle()">Edit Recipe</button>

    <button *ngIf="isLoggedIn && isOwner(recipe)"
    class="deleteRecipe" (click)="onDeleteRecipe()">Delete Recipe</button>
    </div>


<div class="commentSection" > <!--TODO COMMENT SECTION-->
  <div class="title">
   <h4>Comments for {{recipe.name}}:</h4>
  </div>
  <header>
    <p> posted a comment:</p>
  </header>
  <div class="commentContent">
    <p></p>
  </div>
</div>
</ng-container>






  <!--!EDIT MODE-->
  <ng-container *ngIf="showEditRecipeForm">
    <form [formGroup]="form" (ngSubmit)="updateRecipeHandler()">
      
  
      <div>
        <p>Recipe Name:</p>
        <input type="text" name="name" id="name" [value]="recipeDetails.name" formControlName="name">
      </div>
      <!--recipe name validations-->
      <ng-container *ngIf="form.get('name')?.touched">
        <p *ngIf="form.get('name')?.errors?.['required']" style="color: rgb(255, 51, 0)">Recipe name is required!</p>
        <p *ngIf="form.get('name')?.errors?.['minlength']" style="color: rgb(255, 51, 0)">Recipe name should be at least 3 characters long!</p>
      </ng-container>


      
      <div class="img">
        <label>Image: <input type="text" name="img" placeholder="Image URL" [value]="recipeDetails.img" formControlName="img"></label>
      </div>
     <!-- <ng-container *ngIf="form.get('img')?.touched">
        <p *ngIf="form.get('img')?.errors?.['required']" style="color: rgb(255, 51, 0)">Image is required!</p>
      </ng-container> -->


      <div>
        <p>Ingredients:</p>
        <textarea type="text" name="ingredients" id="ingredients" placeholder="Enter all ingredients required..." [value]="recipeDetails.ingredients" formControlName="ingredients" ></textarea>
      </div>
      <ng-container *ngIf="form.get('ingredients')?.touched">
        <p *ngIf="form.get('ingredients')?.errors?.['required']" style="color: rgb(255, 51, 0)">Enter all ingredients required!</p>
        <p *ngIf="form.get('ingredients')?.errors?.['minlength']" style="color: rgb(255, 51, 0)">Ingredients text should be at least 10 characters long!</p>
      </ng-container>
      <!-- ingredients validations-->

      <div>
        <p>Instructions</p>
        <textarea type="text" name="steps" id="steps" placeholder="Enter all steps that should be followed..." [value]="recipeDetails.steps" formControlName="steps" ></textarea>
      </div>
      <!--steps validations-->
      <ng-container *ngIf="form.get('steps')?.touched">
        <p *ngIf="form.get('steps')?.errors?.['required']" style="color: rgb(255, 51, 0)">Enter all instructions that should be followed!</p>
        <p *ngIf="form.get('steps')?.errors?.['minlength']" style="color: rgb(255, 51, 0)">Instructions text should be at least 10 characters long!</p>
      </ng-container>

      <!--ACTIONS-->
      <button class="cancelEdit" (click)="onCancelEditRecipe($event)">Cancel</button>
      <button class="saveChanges" [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? '#f44336' : '#04AA6D'}">Save Changes</button>

    </form>
  </ng-container>

  </div>
  </div>



