/* Bordered form */
.recipeContent {
    padding: 40px 30px;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.editContainer {
  padding: 30px;
}


.recipeDetails {
    max-width: 90%;
    height: 100vh;
}


.imageAndRecipeName {
    display: flex;
    gap: 50px;
}

.furtherDetails {
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 5px;
}

.recipeTitle h1 {
    font-size: 40px;
    font-style: italic;
}

.ingredients h2, .instructions h2{
    font-size: 22px;
    text-decoration: underline;
}

.ingredients p, .instructions p {
 padding-top: 5px;
 font-size: 18px;
}

.header-img {
    display: block;
    max-width: 600px;
    max-height: 600px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(71, 70, 70);
}

p.date {
    font-size: 18px;
    color: grey;
}

.commentForm {
    max-width: 100%;
}

.recipeName h4 {
    margin: 10px 0px;
    font-size: 18px; 
    color: rgb(83, 82, 82);
    padding: 10px 4px;   
}

.commentsSection {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.userComment {
    padding: 20px;
    border: 2px solid #04AA6D;
    border-radius: 5px;   
    color: rgb(83, 82, 82);
}

.ingredients ul li, .instructions ul li {
  list-style: none outside;
}


/* Bordered form */
.editForm {
    border: 3px solid #f1f1f1;
    padding: 16px;
    margin: 0 auto;
    max-width: 40%;
} 


  
  /* Full-width inputs */
input[type=text], input[type=password], textarea[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
  }


  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


